.footer {
    margin-top: 20px;
    background-color: #fcf4d9;
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    padding: 10px;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .footer-section ul li a:hover {
    color: #0077cc;
  }
  
  .social-links a {
    margin-right: 10px;
    color: #333;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
  }
  
  .social-links a:hover {
    color: #0077cc;
  }
  .logos{
    width: 40px;
  }
  